// Brand
$color-primary: #FE6C00;
$color-primary-dark: #E25F00;

// Backgrounds
$color-bg: #fff;
$color-card: #fff;

// Text
$color-title: #1A1A1A;
$color-subtitle: #535862;
$color-label: #414651;
$color-placeholder: #717680;
